body {
    background-color: #f8f9fa;
}

.container-box {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.is-invalid {
    border-color: #dc3545 !important; /* Red border */
}

.invalid-feedback {
    color: #dc3545; /* Red text color */
    font-size: 80%; /* Smaller font size */
}
.card {

    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card-img-top {
    width: 100%;
    height: 200px;
    /* Adjust the height as needed */
    object-fit: fill;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: none;
    background-color: #343a40;
    color: #fff;
}

.modal-body p {
    margin-bottom: 10px;
}

.modal-footer {
    background-color: #e9ecef;
}

#butter {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    border: 2px solid #28a745;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

#but {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    border: 2px solid #28a745;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.container .btn-add:hover {
    background-color: #333333;
    color: #fff;
}

.item-detail .modal-body {
    display: fix;

    align-items: center;
}

.cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.item-detail .modal-body img {
    max-width: 100%;
    /* Half of the modal body */
    height: 300px;
    object-fit: fill;
    border-radius: 20px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.item-detail .modal-body .modal-details {
    flex: 1;
    /* Add some spacing between image and details */
}
