.item-detail {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.item-detail .item-image {
    border-radius: 10px;
    overflow: hidden;
}

.item-detail .item-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.item-detail .item-image:hover img {
    transform: scale(1.1);
}

.item-detail h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.item-detail .item-info {
    margin-bottom: 20px;
}

.item-detail .item-info p {
    margin-bottom: 10px;
}

.item-detail .item-info .badge {
    margin-right: 5px;
}

.item-detail form .form-control,
.item-detail form .form-select {
    border-radius: 5px;
}

.item-detail form button {
    margin-bottom: 20px;
    /* Add margin to the bottom of the button */
}

.is-invalid {
    border-color: #dc3545 !important; /* Red border */
}

.invalid-feedback {
    color: #dc3545; /* Red text color */
    font-size: 80%; /* Smaller font size */
}

.card-header {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}


